@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

.material-symbols-outlined {
     font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
}

html {
     z-index: 1;
     background-image: url("../IMG/Wallpaper.gif");
     background-repeat: no-repeat;
     background-size: cover;
}

body {
     font-family: 'Montserrat', sans-serif;
     margin: 0 auto;
     font-weight: bold;
}

#container {
     background-image: linear-gradient(10deg, #0000ffb3, #ffffffb3);
     backdrop-filter: blur(1px);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 600px;
     margin: 0 auto;
     border-radius: 100px;
     box-shadow: 0px 0px 10px black;

}

#topo {
     z-index: 9;
     width: 600px;
     height: 301px;
     background-image: url("../IMG/UpPokedex.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 50px 50px 0px 0px;
}

#icon1 {
     margin-left: 11px;
     width: 180px;
     height: 180px;
     background-image: radial-gradient(black, #0e0e0e, #292929);
     /* background-image: url(../IMG/search.png); */
     margin-top: -90px;
     margin-bottom: -90px;
     border-radius: 500px
}

/* #icon2{
     margin-left: 11px;
     width: 150px;
     height: 75px;
     background-color: black;
     background-image: url(/IMG/search.png);
     background-position: bottom;
     margin-top: -75px;
     margin-bottom: -75px;
     border-radius: 0px 0px 500px 500px;
} */

#daw {
     z-index: 9;
     width: 100%;
     height: 287px;
     border-radius: 0px 0px 50px 50px;
     background-image: url("../IMG/DownPokedex.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

@keyframes anim {
     0%   {transform: scale(1.05, 1.05) rotate(5deg)}
     25%  {transform: scale(1.025, 1.025) rotate(2.5deg)}
     50%  {transform: scale(1, 1) rotate(0deg)}
     75%  {transform: scale(1.025, 1.025) rotate(-2.5deg)}
     100% {transform: scale(1.05, 1.05) rotate(-5deg)}
}

#sprite {
     background-color: #eedeca98;
     margin: 0 auto;
     margin-top: 10px;
     border-radius: 100px;
     width: 300px;
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
}

#sprite>img {
     width: 300px;
     height: 300px;
     animation: anim 3s linear 0s infinite alternate;
     animation-fill-mode: both;
}